@import "tailwindcss";

:root {
    margin: 0;
    padding: 0;
}

.head_sec {
    background-image: url(../assets/cafe.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.banner_text {
    height: calc(100% - 48px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.foot_sec_one {
    background-color: #30261c;
    padding: 15px;
    color: #fff;
}

.review_sec {
    background-color: #f5f5f5;
}

.review_items {
    background-color: #e2d9c8;
    padding: 3px;
    margin: 5px;
}

.join {
    background-image: url(../assets/sub\ 1.svg), url(../assets/sub\ 2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    color: #30261c;

    background-size: contain;
    background-color: #e2d9c8;
    text-align: center;
}

.our_coffee .header_our {
    font-size: 35px;
    padding: 25px;
    text-align: center;
    color: #30261c;
}

.coffee_card_main {
    max-width: 280px;
    padding: 5px;
    border-radius: 10px;
    background: #e2d9c8;
    color: #30261c;
}

.coffee_card_main h3 {
    font-size: 20px;
}

.coffee_card_main p {
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 10px 0;
}

.coffee_card_main .amout {
    font-weight: 600;
    font-size: 14px;
}

.coffee_card_main button {
    background: #30261c;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
}

.review_items_card {
    background: #e2d9c8;
    border-radius: 6px;
    padding: 10px;
}

.product {
    background-image: url(../assets/sub3.svg), url(../assets/sub4.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
    color: #30261c;

    background-size: contain;
    background-color: #e2d9c8;
    text-align: center;
}